<h1 class="mt-5">Welcome to example EminEvim application for case study</h1>
<p class="lead">You can manage your EminEvim Customer lists from left side bar menu. Also you can manage the items on details of the Customer lists.</p>
<p>You can review the <a href="https://github.com/berkanuz/EminEvim">Customer Payment List</a> on git hub..</p>

@if (!string.IsNullOrWhiteSpace(ViewBag.OperationMessage))
{
    <script>
        alert("@Html.Raw(ViewBag.OperationMessage)");
    </script>
}